<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="app/content/bower/angular-material/angular-material.min.css" media="all">
    <link rel="stylesheet" href="app/content/bower/angular-material/themes/blue-theme.css" media="all">
    <link rel="stylesheet" href="style.css" media="all">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic," media="all">
    <title>Flickr Search</title>
</head>
<body data-ng-app="flickrApp" ng-controller="ListController" layout="column" layout-align="top center">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <span class="md-flex">Flickr Search</span>
        </div>
    </md-toolbar>

    <md-content layout="column" layout-align="center center">
        <div class="app-content">
            <form ng-submit="search()">
                <md-text-float label="Search for" class="long" ng-model="searchTerm" ng-show="!isSearching"></md-text-float>
                <md-progress-circular ng-show="isSearching" md-theme="blue" md-mode="indeterminate"></md-progress-circular>
            </form>

            <md-card ng-repeat="picture in results.photos.photo">
                <img ng-src="https://farm{{ picture.farm }}.staticflickr.com/{{ picture.server }}/{{ picture.id }}_{{ picture.secret }}_b.jpg" alt="" class="md-card-image" />
                <h3>{{ picture.title }}</h3>
            </md-card>
        </div>
    </md-content>

    <script type="text/javascript" src="app/content/bower/angular/angular.min.js"></script>
    <script type="text/javascript" src="app/content/bower/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="app/content/bower/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="app/content/bower/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="app/content/bower/hammerjs/hammer.min.js"></script>
    <script type="text/javascript" src="app/content/bower/angular-material/angular-material.min.js"></script>

    <script type="text/javascript" src="app.js"></script>
</body>
</html>
